*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/**
 * Grid
 */
.grid {
  display: grid;
  grid-template-columns: [left] 25% [left-end center] auto [center-end right] 25% [right-end];
  grid-template-rows: [top] 50% [bottom] 50% [bottom-end];
  height: 100vh;
}

.left-sidebar {
  grid-column-start: left;
  grid-column-end: span left-end;
  grid-row-start: top;
  grid-row-end: span bottom-end;
}

.right-sidebar {
  grid-column-start: right;
  grid-column-end: right-end;
  grid-row-start: top;
  grid-row-end: span bottom-end;
}

.center-top {
  grid-column-start: center;
  grid-column-end: center-end;
}

.center-bottom {
  grid-column-start: center;
  grid-column-end: center-end;
}

input, select, option, button {
  font-size: inherit;
}
